@model AppGestionEMS.Models.AsignacionDocentes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignación Docentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Curso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Grupo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Profesor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numCreditos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numCreditos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
